/* Full-Screen for all objects */
html,
body,
.map,
.map-canvas {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Overflow for the list view */
.coordianteList {
  margin-top: 45px;
  height: 550px;
  overflow: scroll;
  background-color: #efefef;
}

/* Better font sizes for the search bar */
input,
button {
  font-size: 18px;
}

input {
  width: 100%;
}